<span class="{{#graded}}graded{{/graded}} {{#(typeof correct != 'undefined' && correct)}}correct{{/()}}{{#(typeof correct != 'undefined' && !correct)}}incorrect{{/()}}">
  <select value="{{ .answer }}" data-word-id="{{ id }}" class="dropdown">
    <option class="label" selected disabled>&nbsp;</option>
    {{#options:i}}
      <option class="{{#(. == word)}}correct-answer{{/()}}" value="{{.}}">{{.}}</option>
    {{/options}}
  </select>
</span>
